<div class="container pt-5">
  <div class="card">
    <div class="card-header">
      <span>Date: {{ post.date }}</span>
      <h4 class="card-title">{{ post.title }}</h4>
    </div>
    <div class="card-body">
      <p>{{ post.description }}</p>
    </div>
    <div class="card-footer">
      <div class="btn-group float-right" role="group" aria-label="Basic example">
        <a class="btn btn-warning" [routerLink]="['edit', post.id]">Edit</a>
        <a class="btn btn-danger" (click)="onDelete()" routerLink="/">Delete</a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
