<div class="row">
  <div class="col-5 mr-auto ml-auto border border-success">
    <h3 class="mb-2">My contacts</h3>
    <p class="mb-2">
      <span>Name: <strong>{{ name }}</strong></span>
    </p>
    <p class="mb-2">
      <span>Email: <strong>{{ email }}</strong></span>
    </p>
    <p class="mb-2">
      <span>Phone: <strong>{{ phone }}</strong></span>
    </p>
  </div>
</div>
