<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">My blog</a>
  <div id="navbarNavAltMarkup">
    <div class="navbar-nav ">
      <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      <a class="nav-link" routerLink="/post/add">Add</a>
      <a class="nav-link" routerLink="/about">About</a>
      <a class="nav-link" routerLink="/contacts">Contacts</a>
    </div>
  </div>
</nav>
