<div class="container">
  <h4>Edit post</h4>
  <div class="border border-info p-4">
    <div class="form-group">
      <label for="title">Post title</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Post description</label>
      <textarea class="form-control" id="description" rows="3" [(ngModel)]="description" name="description"></textarea>
    </div>
    <a class="btn btn-success" type="button" (click)="sendPost()" routerLink="/">Add</a>
  </div>
</div>

