<div *ngIf="loader">
  <div class="cssload-preloader">
    <div class="cssload-preloader-box">
      <div>L</div>
      <div>o</div>
      <div>a</div>
      <div>d</div>
      <div>i</div>
      <div>n</div>
      <div>g</div>
    </div>
  </div>
</div>

<div *ngIf="!loader">
  <div class="row">
    <div class="col-9 p-2 ml-auto mr-auto">
      <h4>All posts</h4>
      <div class="container border border-info p-2">
        <div class="card p-2 border mb-2" *ngFor="let post of posts; let i = index">
          <div class="card-header">
            <span>Date: {{ post.date }}</span>
            <h5>{{ post.title }}</h5>
          </div>
          <div class="card-footer">
            <button class="btn btn-info float-right" routerLinkActive="active"
                    [routerLink]="['/posts', i]">Read more >>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



